.btn{
    font-family: $sec-font;
    border-radius: $border-radius;
    padding: 7px 12px;
    color:$red;
}

.btn-default {
    background: $white;
    border:0;
    font-weight:bold;
    text-transform:uppercase;
}

