/*Login Page*/
#page-login {
	min-height:100%;
	height:100%;
	background:$magenta;
}

#login-wrapper {
	background-color:$red;
	background-image: linear-gradient(top, $red, $magenta);	
}

#login {
	max-width:1200px;
	margin:0 auto;	
	.container-fluid {
		padding: 40px 15px;
	}
}

/*Logo*/
#logo{
	display: inline-block;
	img {
		max-width:220px;
	}
}

/*Or Login With text*/
.line-through-text {
	color:$white;
	margin:50px auto;
	&::before {
		content:"------------";
		letter-spacing:-2px;
		margin:0 10px;
		color:rgba($white,0.5);
	}
	&::after {
		content:"------------";
		letter-spacing:-2px;
		margin:0 10px;
		color:rgba($white,0.5);
	}
}

/*Social Buttons*/
.btn-group--social {
	font-size:18px;
	.btn-bordered {
		background: rgba($white,0);
		border-width:1px;
		border-color:rgba($white,0.5);
		color:$white;
		font-family: $sec-font;
		text-transform:uppercase;
		padding:10px 25px;
		font-weight: 700;
		&:focus {
			background:$white;
			color:$red;
		}
		&:first-child {
			border-radius: 20px 0 0 20px;
		}
		&:last-child{
			border-radius: 0 20px 20px 0;
		}
	}		
}

#product-list{
	padding: 50px 0 0;
}


.card{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	padding: 15px;
	background-color: $dirty-white-bg;
	border-radius: 5px;
	max-width: 350px;
	margin: 0 auto 30px;
	&__img{
		margin: 0 auto 15px;
	}
	&__title{
		text-align: center;
		font-size: 16px;
		min-height: 80px;
	}

	&--product{
		.card__title{
			min-height: auto;
		}	
	}
}

.pagination{
	margin-bottom: 50px;
	text-align: center;
	display: block;
	> li{
		display: inline-block;
		margin-right: 15px;
		&:last-child, &:first-child{
			> a{
				border-radius: 50%;
			}
		}
		&:last-child{
			margin-right: 0;
		}
		> a{
			border-radius: 50%;
			color: $dark;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
			&:hover, &:focus{
				box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
				background-color: $dirty-white-bg;
				border-color: $dirty-white-bg;
				color: $red;
			}
		}
		&.active{
			> a{
				box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
				background-color: $dirty-white-bg;
				border-color: $dirty-white-bg;
				color: $red;
				&:hover,&:focus{
					background-color: $dirty-white-bg;
					border-color: $dirty-white-bg;
					color: $red;
				}
			}
		}
	}
}

#page-single-product{
	background-color: $dirty-white-bg;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}