/*Login Form*/
.form-login {
    margin-top:50px;
    .form-control {
        border:0;
        border-bottom:2px solid rgba($white,0.5);
        background:rgba($white,0);
        -moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;
        -moz-box-shadow: 0px 1px 1px 1px rgba($white,0); -webkit-box-shadow: 0px 1px 1px 1px rgba($white,0); box-shadow: 0px 1px 1px 1px rgba($white,0); filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = 'rgba($white,0)'); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = 'rgba($white,0)')";
        text-align:center;
        padding:15px;
        height:auto;
        color:$white;
        font-size:18px;
        &::placeholder {
            color: $white;
        }
    }

    .form-group{
        margin-bottom: 25px;
    }

    .btn-default{
        margin: 40px auto;
        padding:10px;
        font-size: 18px;
    }
}

.form-links{
    a {
        color:$yellow;
    }
}

.input-group{
    > .form-control{
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-color: #fff;
    }
}

.form-control{
    color: $dark;
}