.navbar-default{
    background-color: $navbar-bg;
    border: none;
    border-radius: 0;
    color: $white;
    margin-bottom: 0;
    .navbar-brand {
        color: inherit;
    }
    .navbar-toggle {
        border: none;
        &:hover, &:focus{
            background-color: transparent;
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $red;
    }
}

