$screen-lg-min: 1200px;
$screen-md-max: 1199px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;
$screen-xs-min: 320px;


/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: $screen-lg-min) {
	
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: $screen-md-min) {

}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Extra Small devices (mobiles, 320px and up) */
@media only screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
	body{
		font-size: $text-sm;
	}

	#logo img {
		max-width: 160px;
	}

	.line-through-text {
		margin: 25px auto;
		font-size: $text-sm;
	}

	.form-login{
		margin-top: 25px;

		.form-control, .btn-default{
			font-size: $text-sm;
		}

		.form-group{
			margin-bottom: 15px;
		}

		.btn-default{
			margin: 25px 0;
		}
	}

	.btn-group--social{
		font-size: $text-sm;
	}

	/*Create Account and Forgot Password links*/
	.form-links {
		.text-left,
		.text-right {
			text-align:center;
			padding-top:10px;
			padding-bottom:10px;
		}		
	}
}